page-home {
	.header-banner{
		
		height:200px;
		min-height:200px;
	}

	.slide-zoom {
		// height:200px;
		height: 100%;
		// overflow:hidden;
    }

    ion-slides {
        height: 200px;
     }
     h3{
         text-align: center;
     }
       
}